body{
    overflow-x: hidden;
    display: flow-root;
    margin: 0 auto;
    font-family: 'Kodchasal',sans-serif;
    background-image: url("../icon/sun-clown.svg");
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #EDECDB;
    max-width: none;   /* อย่าล็อค body */
}


.hidden{display: none;}

